.nav {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 350px;
    justify-content: space-around;
    align-items: center;
}

.img {
    height: 50px;
    width: auto;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.button {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #c11313;
    border-radius: 2px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}